h2 {
    font-size: 1.2rem !important;
}

p {
    font-size: 1rem !important;
}

.css-145p3ou {
    justify-content: space-around;
}  

.css-evf80z {
    margin: 15px 0 !important;
}

.tooltip > .tooltip-inner {
    background-color: #fff;
    color: #383d41;
    border: 1px solid #ccc;
  }